.activities {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    /* padding: 30px 0; */
}
.activities-container {
    padding: 30px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.heading {
    padding: 0 150px;
}
.my-profile {
    background: #fff;
    height: 100vh;
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
}
.button-container {
    background: rgb(124, 144, 155, .3);
    padding: 12px 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.button-container button{
    border: none;
    padding: 0;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}
.activity-time {
    display: flex;
    justify-content: space-between;
    background: rgb(124, 144, 155, .3);
    padding: 12px 10px;
    border-radius: 8px;
}
.toast {
    border: none;
    background: blueviolet;
    padding: 15px 30px;
    width: 100%;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    .activities {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0 10px;
    }
    .my-profile {
        position: inherit;
        width: 93%;
        height: 600px;
        padding: 0 10px;
        margin: auto;
    }
    .activities-container {
        padding: 10px 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 577px)  and (max-width: 768px) {
    .activities {
            grid-template-columns: 1fr;
            width: 100%;
            padding: 0 10px;
        }
    .my-profile {
            position: static;
            width: 90%;
            height: 600px;
            padding: 0 30px;
            margin: auto;
        }
    .activities-container {
        padding: 10px 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}